table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

/* Structure */

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.dt-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dt-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}
.search-field {
  max-width: 250px !important;
}
.search-field:focus,
.search-field:active {
  outline: none;
  box-shadow: none;
  border-color: rgb(63, 81, 181);
}
/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-responsive .mat-table {
  width: 100%;
  max-width: 100%;
  display: table;
  border-collapse: collapse;
}
.table-responsive .mat-row,
.table-responsive .mat-header-row {
  display: table-row;
}
.table-responsive .mat-cell,
.table-responsive .mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.datatable-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.datatable-row-select {
  margin-top: 5px;
  width: 5%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

td {
  cursor: pointer;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.td {
  cursor: pointer;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.footer_total-content {
  font-weight: 500;
  padding: 0 5px;
  background-color: whitesmoke;
}

.mat-footer-cell:first-of-type {
  border-left: 1px solid black;
}
